{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <h3>Welcome, Signup to DocMan</h3>
      {{ form }}
      <button type="submit">Sign Up</button>
      <p>Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>
    </form>
  </body>
</html>
